# Database
DATABASE_URL=postgresql://user:password@localhost:5432/sasha_portfolio

# Flask
SECRET_KEY=your-secret-key-here
SERVER_PORT=5000
PROJECT_ROOT=/app

# Cloudinary
CLOUDINARY_URL=cloudinary://api_key:api_secret@cloud_name
CLOUDINARY_CLOUD_NAME=your-cloud-name

# React
VITE_API_URL=http://localhost:5000
VITE_CLOUDINARY_CLOUD_NAME=your-cloud-name
