.carrousel {
  height: 100%;
  width: fit-content;
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  flex-shrink: 0;
  padding: 3%;
}

.carrousel img {
  height: 100%;
  width: auto;
  object-fit: cover;
  flex-shrink: 0;
}
.flex{
  display: flex;
  align-items: center;
}

footer {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

footer .contact-links {
  all: unset;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  font-size: var(--footer-font-size, large);
  width: 20%;
  height: 1vh;
}

@media screen and (max-width: 1157px) {
  .carrousel {
    flex-direction: row;
    padding: 20px;
    gap: 10px;
    height: 60vh;
  }

  footer .contact-links {
    padding-left: 20px;
    font-size: 14px;
    width: 78%;
  }
}
