.work-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.work-page > .work-body {
  flex: 1;
}

.work-body {
  padding: 0 8%;
}

.work-page footer {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.work-page footer .contact-links {
  all: unset;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  font-size: var(--footer-font-size, large);
  width: 20%;
  height: 1vh;
}

.work-container {
  padding-top: 120px;
  padding-bottom: 80px;
}

@media screen and (max-width: 1157px) {
  .work-page footer .contact-links {
    padding-left: 20px;
    font-size: 14px;
    width: 78%;
  }
}
