:80 {
    reverse_proxy /api/* https://sasha-api.aguilucho.ar {
        header_up Host sasha-api.aguilucho.ar
    }

    reverse_proxy /imgs/* https://sasha-api.aguilucho.ar {
        header_up Host sasha-api.aguilucho.ar
    }

    file_server
    try_files {path} /index.html

    header Cross-Origin-Opener-Policy "same-origin-allow-popups"
    header Cross-Origin-Embedder-Policy "unsafe-none"
}
